QPushButton#batch_pushButton{
    border-style: solid;
    color: white;
    background-color: rgba(34,188,253,0.5);
}

QPushButton#batch_pushButton:hover:!pressed{
    border: 2px solid #fff;
}

QToolButton { /* all types of tool button */
    border: 1px solid #1a1c1f;
    border-radius: 2px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #1a1c1f, stop: 1 #33353b);
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #22bcfd, stop: 1 #33353b);
}


